__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.py.class


venv/
venv.bak/

*.log
media/
staticfiles/
static/
local_settings.py
settings_local.py
.env.*


*/migrations/


.idea/
*.iml

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.DS_Store
Thumbs.db

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.mypy_cache/

*.pid
*.seed
*.bak
*.tar
*.log
docker-compose.override.yml

